@use "../abstracts" as *;
@use "../abstracts/mixins" as *;

#root {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1.7;
  padding-left: 1.2rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  // @include mini-desktop() {
  //   font-size: 56.25%;
  // }

  // @include mobile() {
  //   font-size: 37.5%;
  // }

  @include mini-desktop2() {
    font-size: 50%;
  }

  @include mobile2() {
    font-size: 43.75%;
  }
  @include mini-mobile() {
    font-size: 37.5%;
  }
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $app-background;
  margin: 0;
  font-weight: 400;
  line-height: 1.6;
}
