@use "../../assets/styles/abstracts/colors" as *;
@use "../../assets/styles/abstracts/mixins" as *;

.header {
  padding: 2.8rem 0;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;

  //   search bar
  .search {
    justify-content: flex-start;
    flex: 1 1 auto;
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;

    &__input {
      height: 5.7rem;
      font-family: inherit;
      font-size: inherit;
      background-color: $search-background;
      border: none;
      padding-left: 6.5rem;
      border-radius: 1.6rem;
      max-width: 65rem;
      flex: 1;
      transition: all 0.3s;
      margin-left: -3.25rem;
      &:focus {
        outline: none;
      }
    }
    &__img {
      filter: invert(47%) sepia(3%) saturate(3441%) hue-rotate(197deg)
        brightness(92%) contrast(84%);
      width: 2.6rem;
      height: 2.6rem;
    }

    &__button {
      transform: translateX(1rem) translateY(2px);
      background-color: transparent;
      border: none;
      z-index: 1;
      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: translateX(1rem) translateY(4px);
      }
    }
    &__icon {
      width: 2.6rem;
      height: 2.6rem;
      filter: invert(89%) sepia(22%) saturate(101%) hue-rotate(195deg)
        brightness(95%) contrast(95%);
    }
  }

  .user-nav {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    .header-logo {
      display: none;
      margin: 0;
    }
    &__icon-box {
      height: 5.4rem;
      border: 2px solid $progress-background;
      border-radius: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 2.4rem;
      cursor: pointer;
      &:hover {
        background-color: darken($app-background, 3%);
      }
      &:active {
        transform: translateY(2px);
      }

      &--hamburger {
        &:active {
          transform: translateY(2px);
        }
        display: none;
        gap: 0.6rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0.8rem;
        width: 5.2rem;
        span {
          width: 100%;
          border: 2px solid $progress-background;
          border-radius: 2px;
          display: block;
        }
      }
    }
    &__icon-img {
      filter: invert(89%) sepia(22%) saturate(101%) hue-rotate(195deg)
        brightness(95%) contrast(95%);
      width: 2.6rem;
      height: 2.6rem;
    }
    &__notification {
      margin-left: 1.2rem;
      color: $text-muted-2;
    }
    &__user {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-muted-2;
      cursor: pointer;
    }
    &__user-photo {
      height: 4.8rem;
      border-radius: 50%;
      margin-left: 1.8rem;
      margin-right: 3.2rem;
    }
  }
  @include mini-desktop() {
    justify-content: center;
    .header-logo {
      display: inline-block;
    }
    .user-nav {
      order: -1;
      &__icon-box {
        &--hamburger {
          display: flex;
        }
      }
    }
  }
  @include mini-desktop2() {
    justify-content: center;
    .header-logo {
      display: inline-block;
    }
    .user-nav {
      order: -1;
      &__icon-box {
        &--hamburger {
          display: flex;
        }
      }
    }
  }
  @include mobile() {
    justify-content: center;
    .user-nav {
      .header-logo {
        display: inline-block;
      }
      order: -1;
      &__icon-box {
        &--hamburger {
          display: flex;
        }
      }
    }
  }

  @include mobile2() {
    justify-content: center;
    .user-nav {
      .header-logo {
        display: inline-block;
      }
      order: -1;
      &__icon-box {
        &--hamburger {
          display: flex;
        }
      }
    }
  }
  @include mini-mobile() {
    justify-content: center;
    .user-nav {
      .header-logo {
        display: inline-block;
      }
      order: -1;
      &__icon-box {
        &--hamburger {
          display: flex;
        }
      }
    }
  }
}
