@use "../../assets/styles/abstracts/colors" as *;
@use "../../assets/styles/abstracts/mixins" as *;

.main-layout {
  display: flex;
  & > .container {
    display: flex;
    padding: 0 1.2rem;
    flex-direction: column;
    flex: 1;
  }

  @include mini-desktop() {
    flex-direction: column;
    align-items: center;
  }

  @include mobile() {
    flex-direction: column;
    align-items: center;
  }
}
