@use "../../assets/styles/abstracts/colors" as *;
@use "../../assets/styles/abstracts/mixins" as *;

.sidebar {
  padding: 3.2rem;
  .sidebar-input {
    display: none;
  }
  .close {
    display: none;
    font-size: 6.4rem;
    text-align: right;
    position: absolute;
    top: 0.6rem;
    right: 3.6rem;
    cursor: pointer;
  }

  &__btn {
    align-items: center;
    background: $primary;
    border-radius: 1.4rem;
    border: none;
    box-sizing: border-box;
    color: $icon-color;
    display: flex;
    font-size: 1.6rem;
    gap: 1.8rem;
    height: 6.4rem;
    justify-content: center;
    margin-bottom: 4.6rem;
    outline: none;
    transition: all 0.3s ease;
    width: 19.6rem;

    cursor: pointer;
    &:hover {
      background: darken($primary, 10%);
    }
    &:active {
      transform: translateY(2px);
    }
    & img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(128deg)
        brightness(105%) contrast(103%);
      width: 3.2rem;
      height: 3.2rem;
    }
  }
  .side-nav {
    font-size: 1.4rem;
    list-style: none;
    color: $text-muted;

    &__item {
      font-weight: 600;
      margin-bottom: 4.8rem;
    }
    &__link {
      align-items: center;
      color: $text-muted;
      display: flex;
      font-size: 2rem;
      text-decoration: none;
      transition: all 0.3 ease;
      &:hover {
        color: darken($text-muted, 10%);
      }
    }
    &__icon {
      margin-right: 3.2rem;
      filter: invert(47%) sepia(7%) saturate(1515%) hue-rotate(197deg)
        brightness(92%) contrast(84%);
      width: 3.2rem;
      height: 3.2rem;
    }

    .active {
      color: $text-black;
      .side-nav__icon {
        filter: invert(0%) sepia(96%) saturate(10%) hue-rotate(179deg)
          brightness(105%) contrast(101%);
      }
    }
  }

  @include mobile() {
    @include sidebarToggle;
  }

  @include mini-desktop() {
    @include sidebarToggle;
  }
  @include mobile2() {
    @include sidebarToggle;
  }
  @include mini-mobile() {
    @include sidebarToggle;
  }
}
