@use "../../assets/styles/abstracts" as *;
@use "../../assets/styles/abstracts/mixins" as *;

.all-files {
  padding: 0 1.2rem;

  &-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .header-text {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      .icon-container {
        width: 5.6rem;
        height: 5.6rem;
        border-radius: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-img {
          filter: brightness(0) invert(1);
        }
      }
      .all {
        background-color: $secondary;
      }
      .archived {
        background-color: $quinary;
      }
      .starred {
        background-color: $quaternary;
      }
      h2 {
        display: inline;
        font-size: 5rem;
        font-weight: 600;
      }
    }
    .header-select select {
      cursor: pointer;
      appearance: none;
      background-image: url("../../assets/icons/ArrowChevronDown.svg");
      background-repeat: no-repeat;
      background-size: 2.4rem;
      background-position-x: 90%;
      background-position-y: 1.6rem;

      width: 22.5rem;
      height: 5.6rem;
      font-size: 1.6rem;
      padding-left: 2.6rem;
      padding-right: 2.6rem;
      font-family: inherit;
      color: $text-muted-2;
      border: none;
      background-color: $sort-background;
      border-radius: 1.6rem;
    }
    .header-select *:focus {
      outline: none;
    }
  }
  max-width: 113rem;

  .list {
    list-style-type: none;

    .item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $progress-background;
      padding: 2rem 0;
      font-size: 1.6rem;
      &.head {
        color: $text-muted;
        font-size: 1.4rem;
      }

      .item-box {
        display: flex;
        flex: 1 1 35%;
        align-items: center;

        &-img {
          position: relative;
          margin-right: 1.2rem;
          display: flex;
          width: 2.4rem;
          height: 2.4rem;
        }
        &--small {
          flex: 1 1 15%;
        }

        &:last-child {
          display: flex;
          justify-content: right;
          gap: 1.2rem;
        }

        .icon-markup {
          position: absolute;
          display: inline-block;
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 50%;
          right: 0;
          bottom: 0;
          transform: translate(2px, 1px);
          &.second-markup {
            top: 0;
          }
          &--red {
            background-color: $quinary;
          }

          &--yellow {
            background-color: $quaternary;
          }
        }
        .icon-file {
          filter: invert(14%) sepia(100%) saturate(6318%) hue-rotate(266deg)
            brightness(88%) contrast(114%);
        }
        .icon-image {
          filter: invert(26%) sepia(84%) saturate(3395%) hue-rotate(206deg)
            brightness(85%) contrast(102%);
        }
        .icon-video {
          filter: invert(24%) sepia(85%) saturate(4587%) hue-rotate(116deg)
            brightness(98%) contrast(101%);
        }
        &-icon {
          display: flex;
          gap: 1.2rem;
          transition: all 0.3s ease;
          &:active {
            transform: translateY(1px);
          }
          .icon-action {
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 3.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
              filter: brightness(0) invert(1);
              width: 2.4rem;
              height: 2.4rem;
            }
          }
        }
        .favorite {
          background-color: $quaternary;
        }
        .archive {
          background-color: $quinary;
        }
        .delete {
          background-color: $quinary;
        }
      }
    }
  }
  @include mini-desktop() {
    width: 100%;
    padding: 0 1.2rem;
  }

  @include mobile() {
    width: 100%;
    padding: 0 1.2rem;
  }
}
