.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  & > img {
    animation: logo-rotation 1s ease infinite;
  }
}

@keyframes logo-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
