@use "../../assets/styles/abstracts/mixins" as *;

.logo {
  width: 4.8rem;
  height: 4.8rem;
  margin-bottom: 4.6rem;
  img {
    width: 100%;
    height: 100%;
  }
}

@include mini-desktop() {
  .logo {
    display: none;
  }
}

@include mobile() {
  .logo {
    display: none;
  }
}
