@use "../../assets/styles/abstracts/colors" as *;

.not-found {
  h1.not-found {
    span {
      font-size: 9.6rem;
    }
    padding-top: 4.8rem;
    font-weight: 600;
    font-size: 4.8rem;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .link {
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-size: 3.2rem;
    color: $text-muted;
    text-align: center;
    padding-top: 3.2rem;
    transition: all 0.3 ease;
    &:hover {
      color: lighten($text-muted, 10);
    }
    &:active {
      transform: translateY(2px);
    }
  }
}
