@use "../../assets/styles/abstracts" as *;
@use "../../assets/styles/abstracts/mixins" as *;

.home {
  .card-list {
    display: flex;
    gap: 2.4rem;
    margin-bottom: 6.4rem;
    flex-wrap: wrap;
  }
  .content {
    display: flex;
    .content-files {
      max-width: 69rem;
      flex-grow: 1;
    }
    .aside {
      .sub-card {
        border-radius: 16px;
        display: flex;
        gap: 1.6rem;
        align-items: center;
        padding: 3.2rem;
        background-color: $card-background;
        margin-bottom: 2.4rem;
        width: 32rem;
        height: 12rem;
        .icon-box {
          width: 5.6rem;
          height: 5.6rem;
          border-radius: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 3.2rem;
            height: 3.2rem;
            filter: brightness(0) invert(1);
          }
        }
        .sub-card-text {
          h3 {
            font-size: 1.8rem;
            font-weight: 600;
          }
          .sub-card-link {
            text-decoration: none;
            font-size: 1.6rem;
            color: $text-muted;
            font-weight: 600;
            &:hover {
              color: darken($text-muted, 10%);
            }
          }
        }

        .starred {
          background-color: $quaternary;
        }
        .archived {
          background-color: $quinary;
        }
      }
    }
  }

  .card-files {
    width: 32rem;
    height: 25rem;
    background-color: $card-background;

    border-radius: 1.2rem;
    padding: 3.2rem;
    .icon-box {
      border-radius: 1.6rem;
      width: 7rem;
      height: 7rem;
      display: flex;
      justify-content: center;
      justify-items: center;
      margin-bottom: 2.8rem;
      img {
        width: 3.6rem;
        align-self: center;
        filter: brightness(0) invert(1);
      }
    }
    .image {
      background-color: $secondary;
    }
    .video {
      background-color: $tertiary;
    }
    .file {
      background-color: $primary;
    }

    h3 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    progress {
      width: 25.4rem;
      height: 1.2rem;
      border-radius: 1.2rem;
      padding: 0;
      margin: 0;
    }
    progress::-webkit-progress-bar {
      border: 0;
      height: 1.2rem;
      border-radius: 1.2rem;
      background-color: $progress-background;
    }

    progress::-webkit-progress-value {
      border: 0;
      height: 1.2rem;
      border-radius: 1.2rem;
    }
    .image + progress::-webkit-progress-value {
      background-color: $secondary;
    }
    .video + progress::-webkit-progress-value {
      background-color: $tertiary;
    }
    .file + progress::-webkit-progress-value {
      background-color: $primary;
    }
    progress::-moz-progress-bar {
      border: 0;
      height: 1.2rem;
      border-radius: 1.2rem;
    }
    p {
      display: flex;
      align-items: center;
      gap: 1.4rem;
    }
    .card-percentage {
      font-size: 2rem;
      font-weight: 600;
    }
    .card-informations {
      color: $text-muted;
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  @include mini-desktop() {
    .content {
      flex-direction: column;
      .content-files {
        max-width: 100%;
        order: 1;
      }
    }
    .aside {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem;
    }
  }

  @include mobile() {
    .content {
      flex-direction: column;
      gap: 0;
      .content-files {
        max-width: 100%;
        order: 1;
      }
    }
    .aside {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem;
    }
  }
}
