@mixin mini-desktop() {
  @media only screen and (min-width: 680px) and (max-width: 940px) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: 679px) {
    @content;
  }
}

@mixin desktop2() {
  @media only screen and (min-width: 1160px) and (max-width: 1499px) {
    @content;
  }
}

@mixin mini-desktop2() {
  @media only screen and (min-width: 200px) and (max-width: 1159px) {
    @content;
  }
}

@mixin mobile2() {
  @media only screen and (max-width: 940px) {
    @content;
  }
}
@mixin mini-mobile() {
  @media only screen and (max-width: 400px) {
    @content;
  }
}

//repetitive blocks
@mixin sidebarToggle {
  display: none;
  .close {
    display: block;
  }
  &__btn {
    margin-top: 7.2rem;
  }
  &.show {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
